[submodule "modules/columnflow"]
    path = modules/columnflow
    url = ../../columnflow/columnflow.git

[submodule "modules/cmsdb"]
    path = modules/cmsdb
    url = ../../uhh-cms/cmsdb.git
[submodule "modules/torch_fit"]
	path = modules/torch_fit
	url = git@github.com:haddadanas/torch_fit.git
